@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #0d69b3;
    --primary-foreground: #ffffff;

    --primary-dark: #004369;
    --primary-dark-foreground: #ffffff;

    --secondary: #f7942e;
    --secondary-foreground: #ffffff;

    --muted: #f5f5f5;
    --muted-foreground: #737373;

    --accent: #3ca7db;
    --accent-foreground: #ffffff;

    --destructive: #ef4343;
    --destructive-foreground: #ffffff;

    --border: #789ecb;
    --input: #d3d3d3;
    --ring: #789ecb;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border font-poppins scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-navbar {
  background: rgb(255, 255, 255);
}

@media (min-width: 1080px) {
  .bg-navbar {
    background: rgb(228, 219, 239);
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 50%,
      rgba(219, 239, 225, 1) 50%
    );
  }
}
